/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */
@font-face {
  font-family: 'Hack';
  src: url("hack-font/hack-regular.woff2?sha=3114f1256") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url("hack-font/hack-bold.woff2?sha=3114f1256") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url("hack-font/hack-italic.woff2?sha=3114f1256") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url("hack-font/hack-bolditalic.woff2?sha=3114f1256") format("woff2");
  font-weight: 700;
  font-style: italic;
}
