html {
    font-size: 62.5%;
}

body {
    padding: 0.5em 1em;
    background-color: #eee;
    color: #111;
    color-scheme: light only;
    font-size: 1.6rem;
    line-height: 140%;
}

a:is(:link, :visited, :target) {
    color: #33c;
    text-decoration: underline;
}

body, pre, textarea {
    font-family: Hack, monospace;
}

h3 {
    text-align: center;
    font-size: 100%;
}

pre, textarea {
    background-color: #eee;
    color: #111;
    font-size: 1.6rem;
    line-height: 140%;
    width: 100%;
    border: {
        width: 0.1rem;
        style: solid;
        color: #666;
        radius: 0.2rem;
    }
    padding: 0.4rem;
    line-break: normal;
    white-space: break-spaces;
    word-wrap: break-word;
    word-break: break-word;
    text-wrap: wrap;
    overflow: hidden;
}

textarea {
    width: 100%;
    height: 15em;
    min-height: 5em;
    resize: vertical;
}

.editor {
    position: relative;
    z-index: 0;

    textarea {
        z-index: 2;
        position: absolute;
        inset: 0;
        height: unset;
        min-height: unset;
        caret-color: #000;
        width: 100%;
        height: 100%;

        background-color: transparent;
        color: transparent;
        border-color: transparent;
        resize: none;
    }

    pre {
        z-index: 1;
        position: relative;
        pointer-events: none;
        min-height: 3em;
    }

    &:is(:focus, :focus-visible, :focus-within) {
        textarea {
            outline: {
                offset: 0;
                width: 0.1rem;
                style: solid;
                color: #c33;
            }
        }
    }
}

#top {
    display: flex;
    column-gap: 1.5em;
    flex-wrap: wrap;
    flex-direction: row;

    > div {
        flex: 1;
        min-width: min(40em, 100%);
    }
}

#rev {
    float: right;
    font-size: 80%;
    color: #666;
}

#bottom {
    padding-top: 1em;
    text-align: center;
}

#fork {
    position: absolute;
    inset: 0 0 auto auto;

    svg {
        border: {
            style: none;
            width: 0;
            color: transparent
        }
        color: #eee;
        fill: #4c1;
        width: 3em;
        height: 3em;
    }

    .octo-arm {
        transform-origin: 130px 106px 0px;
    }
    &:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
    @keyframes octocat-wave {
        0%, 100% {
            transform: rotate(0)
        }
        20%, 60% {
            transform: rotate(-25deg)
        }
        40%, 80% {
            transform: rotate(10deg)
        }
    }
}
